
@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900";
@import "https://fonts.googleapis.com/css?family=Pacifico";

body{
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

.wrapper{
	height: 100%;
}

.home, .services{
	height: 100vh;
}
.insight , .contact , .footer{
	background-color: #0087d8;
}
.insight .text-center, .team .text-center, .contact .text-center{
	padding:100px 0px;
}
.services .card, .services .card-img-top, .team .card, .team .card-img-top{
	border: none;
	border-radius: 0;
}
.team p{
	margin-bottom: 0;
}
.team .font-8{
	font-size: 0.8em;
}
.home {
  background:
      linear-gradient(rgba(1,31,75, 0.9), rgba(100,151,177, 0.4)),
      url(https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/1/5/3/7/1837351-1-eng-GB/US-ADM-continues-animal-nutrition-business-expansion.jpg); 
  	background-size: cover;
  	background-color: #000;
  	background-position: center;
}
.bg-light{
	background-color: transparent!important;
	transition: .7s all;
	padding: 10px 0;
}

.bg-dark{
	background-color: #0087d8!important;
	transition: .7s all;
	padding: 0;
}
.nav-link, .navbar-brand{
	color: #fff!important;
}
.nav-link:hover{
	color: #e1b600!important;
}
.navbar-brand .img{
	height: 80px;
	transition: .7s all;
}

.navbar-brand .img-small{
	height: 50px;
	transition: .7s all;
}
.font-cursive{
	font-family: 'Pacifico', cursive;
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  	.home, .services{
		height: auto;
	}

}

@media (min-width: 768px) and (max-width: 991.98px) {
	.home, .services{
		height: auto;
	}
}
